<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDBConectionString" value="mongodb+srv://vikas0sharma:Sg4VvX4NW5v08bTQ@cluster0-gxre2.mongodb.net/test?retryWrites=true" />
    <add key="MongoDBDatabaseName" value="StudentsManagementDB"/>
  </appSettings>
</configuration>